:root {
    --primario: #71b100;
    --secundario: #e08709;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4{
    font-weight: 300
}
.bg-success {
    background: #71b100!important;
    
}

@media (min-width: 768px) {
    .barra.bg-success {
        background-color: transparent!important;
    }
    .header {
        position: relative;
    }
    .header .barra {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;

}

.navbar-brand span {
    font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 1rem;
}

.dropdown-menu {
    background-color: #71b100;
    
}

.dropdown-menu .dropdown-item{
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #e08709;
}

.carousel-caption h3{
    font-size: 2.4rem;

}
.bloque-info p{
    font-size: 1.4rem;
}
.btn-outline-warning:hover {
    background-color: #e08709;
    color: #ffffff;
    transition: .5s;
    border-color: #e08709;
    font-weight: 700;
}
.btn-warning {
    background-color: #e08709;
    color: #ffffff;
    border-color: #e08709;
    font-weight: 700;
}

.sobre-nosotros h3{
    font-size: 1rem;
    font-weight: 700;
}
.card-precio {
    text-align: center;
}
.card-text {
    text-align: center;
}
.encuentra {
    background-image: url(/img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.encuentra .row{
    height: 25rem;
}

.encuentra h3{
    font-weight: 900;
    font-size: 2.2rem;
}

.entrada h3{
    font-size: 2.2rem;
    font-weight: 900;
}

.entrada h3::after{
    content:"";
    display: block;
    width: 8rem;
    height: .2rem;
    background-color: #71b100;
    margin-top: .5rem;
}

.meta span{
    color: #e08709;
}

.btn-success {
    background-color: #71b100;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-success:hover {
    background-color: #609602;
   
}

.testimoniales {
    background-color: #71b100;
}
.testimoniales .carousel-item{
    padding-left: 2rem;

}
.testimoniales .testimonial-texto{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
}
.testimoniales .testimonial-texto::before {
    content: open-quote;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: 1rem;
    font-weight: 700;
}

.testimoniales span{
    font-size: 1.4rem;
    font-weight: 700;
}

.footer.bg-dark {
    background: #333333;
}

footer .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
}